/* Crystal Image */
.crystal-images {
    width: 170px;
 
}

.jumbotron-fluid,
#second-row {
    margin-bottom: 10px;
}

.jumbotron-fluid {
    text-align: center;
    color: antiquewhite;
    background-color: rgb(0, 56, 82);  
}

#crystal {
    margin: auto;
}
/* footer */
.text-muted {
    text-align: center;
}