
.display-4 {
    font-family: 'Gloria Hallelujah', cursive;
    text-align: center;   
    color: #32f3a9;
    background-color: #2d2d2d60;
    letter-spacing: .1em;
    text-shadow: 
          -1px -1px 1px #111, 
          2px 2px 1px #363636;
    margin-bottom: 30px;
}

h3, h5 {
    font-family: 'Hi Melody', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
}

.card-body {
    text-align: center;
}
/* Crystal Image */
.crystal-images {
    width: 170px;
}
#crystal {
    margin: auto;
}

/* JUMBOTRON */
.jumbotron-fluid,
#second-row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.jumbotron-fluid {
    background-color: rgb(0, 56, 82);  
}
.jumbotron {
    background-image: url("../images/jum.gif");
    background-size: 50%;
    border-radius: 5px;
}
/* END JUMBOTRON */


/* footer */
.text-muted {
    text-align: center;
}

/* Animation adding */
@keyframes stretch{
    0% {
        transform: scale(.3);
        background-color: rgb(85, 12, 30);
        border-radius: 100%;
    }
    30% {
        background-color: rgb(71, 28, 95);
    }
    50% {
        background-color: rgb(53, 83, 35);
    }
    100% {
        background-color: rgb(0, 56, 82);  
    }
}
.jumbotron-fluid {
    animation-name: stretch;
    animation-duration: 2s; 
    animation-timing-function: ease-out; 
    animation-delay: 2s;
    animation-direction: alternate;
    animation-iteration-count: none;
    animation-fill-mode: both;
    animation-play-state: running; 
}